@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@media (min-width: 40rem) {
    body {
        background-color: hsl(148, 38%, 91%);
        padding: 80px;
    }
    
    main {
        font-family: "Karla", sans-serif;
        background-color: white;
        padding:1px 25px 25px 25px;
        width: 55%;
        margin: auto;
        border-radius: 10px;
    }

    h1 {
        color:hsl(187, 24%, 22%);
        font-weight: 600;
        font-size: 20pt;
    }

    h2 {
        color:hsl(186, 15%, 59%);
        font-weight: 500;
        font-size: 10pt;
    }

    input[type="text"], textarea {
        font-size: 12pt;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid hsl(186, 15%, 59%);
        color: hsl(186, 15%, 59%);
        resize: none;
    }

    .hide {
        display: none;
    }

    span {
        color:hsl(169, 82%, 27%);
    }

    input[type="submit"] {
        color: white;
        background-color: hsl(169, 82%, 27%);
        border: none;
        border-radius: 5px;
        padding:15px;
        width:100%;
    }

    .fifty-fifty {
        width: 47.5%;
        display: inline-block;
    }

    .full {
        width: 98%;
    }

    .radios {
        border: 1px solid hsl(186, 15%, 59%);
        padding: 5px;
        border-radius: 5px;
        width: 47.5%;
        display: inline-block;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

