@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@media (min-width: 40rem) {
    body {
        background-color: hsl(148, 38%, 91%);
        padding: 80px;
    }
    
    main {
        font-family: "Karla", sans-serif;
        background-color: white;
        padding:1px 20px 20px 20px;
        width: 60%;
        margin: auto;
        border-radius: 10px;
    }

    h1 {
        color:hsl(187, 24%, 22%);
        font-weight: 600;
        font-size: 20pt;
    }

    h2 {
        color:hsl(186, 15%, 59%);
        font-weight: 500;
        font-size: 10pt;
    }

    input[type="text"] {
        font-size: 12pt;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid hsl(186, 15%, 59%);
        color: hsl(186, 15%, 59%);
    }

    .hide {
        display: none;
    }
}

